.btn {
  position: absolute;
  bottom: 74px;
  left: 40%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: black;
  font: 0.8125rem sans-serif;
  outline: none;
  z-index: 99999;
  cursor: pointer;
}
